<c-row class="m-0">
  <c-col xs="12 " class="p-0">
    <c-card class="mb-3">
      <c-card-header class="d-flex justify-content-between align-items-center">
        <strong>View Patient</strong>
      </c-card-header>
      <c-card-body>
        <form cForm class="row g-3" [formGroup]="form">
          <c-col md="12" class="d-flex">
            <c-col md="4" class="p-2">
              <label for="entity_id" cLabel> Entity Name </label>
              <select
                aria-label="select entity_id"
                cSelect
                sizing="sm"
                formControlName="entity_id"
                type="text"
              >
                <option hidden value="null" disabled selected>
                  Entity Name
                </option>
                <option
                  [value]="item.entity_id"
                  *ngFor="let item of allEntityList"
                >
                  {{ item.entity_name }}
                </option>
              </select>
            </c-col>
            <c-col md="4" class="p-2">
              <label cLabel for="mrno_entity_series"
                >MR No Entity Series
              </label>
              <input
                cFormControl
                id="mrno_entity_series"
                formControlName="mrno_entity_series"
                type="text"
              />
            </c-col>
          </c-col>

          <c-col md="4" class="p-2">
            <label cLabel for="registration_date">Registration Date </label>
            <input
              cFormControl
              id="registration_date"
              formControlName="registration_date"
              type="date"
            />
          </c-col>
          <c-col md="4" class="p-2">
            <label cLabel for="patient_name">Patient Name </label>
            <input
              cFormControl
              id="patient_name"
              formControlName="patient_name"
              type="text"
            />
          </c-col>
          <c-col md="4" class="p-2">
            <label cLabel for="mobile_no">Mobile Number </label>
            <input
              cFormControl
              id="mobile_no"
              formControlName="mobile_no"
              type="number"
            />
          </c-col>
          <c-col md="2" class="p-2">
            <label cLabel for="validationDefault01">Gender </label>
            <select
              aria-label="select lead gender"
              cSelect
              sizing="sm"
              formControlName="gender"
              type="text"
            >
              <option hidden value="null" disabled selected>Gender</option>
              <option>Male</option>
              <option>Female</option>
              <option>Other</option>
            </select>
          </c-col>
          <c-col md="2" class="p-2">
            <label cLabel for="age">Age </label>
            <input cFormControl id="age" formControlName="age" type="number" />
          </c-col>
          <c-col md="3" class="p-2">
            <label cLabel for="address">Address </label>
            <input
              cFormControl
              id="address"
              formControlName="address"
              type="text"
            />
          </c-col>
          <c-col md="2" class="p-2">
            <label cLabel for="validationDefault01">City </label>
            <input
              cFormControl
              id="validationDefault01"
              formControlName="city"
              type="text"
            />
          </c-col>
          <c-col md="3" class="p-2">
            <label for="state_id" cLabel> State </label>
            <select
              aria-label="select state_id"
              cSelect
              sizing="sm"
              formControlName="state_id"
              type="text"
            >
              <option hidden value="null" disabled selected>State</option>
              <option [value]="item.state_id" *ngFor="let item of allStateList">
                {{ item.state_name }}
              </option>
            </select>
          </c-col>
          <c-col md="2" class="p-2">
            <label cLabel for="validationDefault01">Height (cm) </label>
            <input
              cFormControl
              id="height"
              formControlName="height"
              type="number"
            />
          </c-col>
          <c-col md="2" class="p-2">
            <label cLabel for="validationDefault01">Weight (kg) </label>
            <input
              cFormControl
              id="weight"
              formControlName="weight"
              type="number"
            />
          </c-col>
          <c-col md="2" class="p-2">
            <label cLabel for="bmi">BMI (kg/m²) </label>
            <input cFormControl id="bmi" formControlName="bmi" type="text" />
          </c-col>

          <c-col md="3" class="p-2">
            <label for="source_of_patient_id" cLabel> Source Of Patient </label>
            <select
              aria-label="select source_of_patient_id"
              cSelect
              sizing="sm"
              formControlName="source_of_patient_id"
              type="text"
            >
              <option hidden value="null" disabled selected>
                Source Of Patient
              </option>
              <option
                [value]="item.source_of_patient_id"
                *ngFor="let item of allSourceOfPatientList"
              >
                {{ item.source_of_patient_name }}
              </option>
            </select>
          </c-col>

          <c-col md="3" class="p-2 m-9">
            <div>
              <label for="refered_by_id" cLabel> Refered By </label>
            </div>
            <div class="refered-by">
              <select
                aria-label="select refered_by_id"
                cSelect
                sizing="sm"
                formControlName="refered_by_id"
                type="text"
              >
                <option hidden value="null" disabled selected>
                  Refered By
                </option>
                <option
                  [value]="item.refered_by_id"
                  *ngFor="let item of allReferedByList"
                >
                  {{ item.refered_by_name }}
                </option>
              </select>
            </div>
          </c-col>
          <c-col md="4" class="p-2">
            <label for="employee_id" cLabel> Assign to </label>
            <select
              aria-label="select employee_id"
              cSelect
              sizing="sm"
              formControlName="employee_id"
              type="text"
            >
              <option hidden value="null" disabled selected>Select Name</option>
              <ng-container *ngFor="let item of allEmployeeList">
                <option
                  [value]="item.employee_id"
                  *ngIf="item.designation_name.toLowerCase() === 'doctor'"
                >
                  {{ item.name }}
                </option>
              </ng-container>
            </select>
          </c-col>

          <c-col md="4" class="p-2">
            <label cLabel for="validationDefault01">Payment Type </label>
            <select
              aria-label="select lead payment_type"
              cSelect
              sizing="sm"
              formControlName="payment_type"
              type="text"
            >
              <option hidden value="null" disabled selected>
                Payment Type
              </option>
              <option>Cash</option>
              <option>Online Payment</option>
            </select>
          </c-col>

          <c-col md="3" class="p-2">
            <label cLabel for="amount">Amount </label>
            <input
              cFormControl
              id="amount"
              formControlName="amount"
              type="number"
            />
          </c-col>
        </form>
        <c-col xs="12">
          <button
            cButton
            color="primary"
            [routerLink]="[
              '/receptionist',
              { outlets: { receptionist_Menu: 'search-patient' } }
            ]"
          >
            Cancel
          </button>
        </c-col>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
