.passbtn {
  background-color: #d8dbe0;
  border: #b1b7c1;
  color: #47474e;
}
.card-img-top {
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 0;
  height: fit-content;
}
.card-img-top-logo {
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  // width: 200px;
}
.login_btn {
  background-color: #ea278f;
  border: #ea278f;
}
// .login-card {
//   padding-top: 130px;
// }
// .custom-img {
//   display: block;
//   width: 100%;
//   height: fit-content;
// }
.form-card{
  background-image: url(../../../../assets/images/login/Logo_login_page_top.svg);
  background-repeat: no-repeat;
  background-size: 200px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-right: none;
}

.right-image {
  // position: relative;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-left: none;
  height: 500px;
  width: 444px;

}
.right-card{
  background-image: url(../../../../assets/images/login/right-side.svg);
  background-repeat: no-repeat;
  background-size: 550px;
  display: flex !important;
  align-items: center;
}
.nirmiti-login-image{
 height: 250px;
 width: 250px;
}
/* CSS for animated smiley emoji */
.animated-smiley {
  animation: scaleAndFadeIn 0.5s ease forwards;
}

@keyframes scaleAndFadeIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@media  (max-width: 650px) {
  .right-card{
    display: none!important;
  }
}
// @media only screen and (min-width: 700px) {
//   .right-image{
//     border: 2px solid red;
//     position: relative;
//   }
// }