<!-- <div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6 card m-5 p-5">
            <div class="row">
               <div class="col d-flex justify-content-center">
                <button class="btn btn-primary mx-2"  (click)="submitAdmin()">Admin Login</button>
                <button class="btn btn-primary mx-2" (click)="submitDoctor()">Doctor Login</button>
                <button class="btn btn-primary mx-2" (click)="submitSuperAdmin()">Super Admin Login</button>
                <button class="btn btn-primary mx-2" (click)="submitReceptionist()">Receptionist Login</button>
               </div>
            </div>
        </div> 
    </div>
    <div class="row">
        <div class="col-md-6"></div>
    </div>
</div> -->
<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="12" lg="8">
        <c-card-group>
          <c-card>
            <c-card-body class="p-0">
              <img
                src="../../../../assets/images/login/Logo_login_page_top.svg"
                class="card-img-top-logo"
              />
              <div class="login-card">
                <form cForm [formGroup]="form" class="p-3">
                    <div class="d-flex justify-content-center">
                      <strong><h1 class="fw-bold">LOGIN</h1></strong>
                    </div>
                    <p class="text-medium-emphasis fw-medium">Sign In to your account</p>
                    <!-- <div class="mb-3">
                                        <c-input-group >
                                            <span cInputGroupText>
                                                <svg cIcon name="cil3d"></svg>
                                            </span>
                                            <select aria-label="Default select example" formControlName="category" (change)="onCategorySelect()" cSelect>
                                                <option value=null disabled>Select Category </option>
                                                <option value=1>Super Admin</option>
                                                <option value=2>Admin</option>
                                                <option value=3>Receptionist</option>
                                                <option value=4>Doctor</option>
                                            </select>
                                        </c-input-group>
                                    </div> -->
    
                    <div class="mb-3">
                      <c-input-group>
                        <span cInputGroupText>
                          <svg cIcon name="cilUser"></svg>
                        </span>
                        <input
                          autoComplete="username"
                          cFormControl
                          placeholder="Username"
                          formControlName="email_id"
                          [ngClass]="{
                            'is-invalid':
                              control['email_id'].invalid &&
                              (control['email_id'].dirty ||
                                control['email_id'].touched)
                          }"
                        />
                      </c-input-group>
                      <span
                        class="text-danger"
                        *ngIf="
                          control['email_id'].invalid &&
                          (control['email_id'].dirty || control['email_id'].touched)
                        "
                      >
                        <div *ngIf="control['email_id'].errors?.['required']">
                          <small>Email Address is required</small>
                        </div>
                        <div *ngIf="control['email_id'].errors?.['email']">
                          <small> Email must be a valid email address</small>
                        </div>
                      </span>
                    </div>
    
                    <div class="mb-3">
                      <c-input-group>
                        <span cInputGroupText>
                          <svg cIcon name="cilLockLocked"></svg>
                        </span>
                        <input
                          autoComplete="current-password"
                          cFormControl
                          placeholder="Password"
                          formControlName="password"
                          type="{{ passwordVisible ? 'text' : 'password' }}"
                          [ngClass]="{
                            'is-invalid':
                              control['password'].invalid &&
                              (control['password'].dirty ||
                                control['password'].touched)
                          }"
                        />
                        <button
                          class="passbtn"
                          cButton
                          cAppend
                          type="button"
                          cButtonType="outline-secondary"
                          (click)="togglePasswordVisibility()"
                        >
                          <span>{{ passwordVisible ? "Hide" : "Show" }}</span>
                        </button>
                      </c-input-group>
    
                      <span class="text-danger">
                        <div
                          *ngIf="
                            control['password'].invalid &&
                            (control['password'].dirty ||
                              control['password'].touched)
                          "
                        >
                          <small>Password is required</small>
                        </div>
                      </span>
                    </div>
                    <c-row>
                      <c-col xs="6">
                        <button
                          cButton
                          class="px-4 login_btn"
                          color="primary"

                          EA278F
                          (click)="login()"
                        >
                          Login
                        </button>
                      </c-col>
                      <c-col class="text-right " >
                        <button cButton class="px-0 " color="link">
                          Forgot password
                        </button>
                      </c-col>
                    </c-row>
                  </form>
              </div>
              
            </c-card-body>
          </c-card>
          <c-card>
            <img
              src="../../../../assets/images/login/login_side_card.svg"
              class="card-img-top"
            />
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
