.passbtn{
    background-color: #d8dbe0;
    border: #b1b7c1;
    color: #47474e;
}
.card-img-top {
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom:0 ;
}
.card-img-top-logo{
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}
.login_btn{
    background-color: #EA278F;
    border: #EA278F;
}
.login-card{
    position: relative;
    bottom: 50px;
}

