<c-row class="m-0">
 
    <c-col xs="12 " class="p-0 ">
    
      <c-card class="mb-3 ">
        <c-card-header>
          <strong>{{ isEdit ? " Add" : "Edit" }} Lead Details</strong>
        </c-card-header>
        <c-card-body>
          <form cForm class="row g-3" [formGroup]="form">
            <c-col md="4" class="p-2">
              <label cLabel for="name">Name</label>
              <input
                cFormControl
                id="name"
                [readonly] = true
                class="diabled"
                formControlName="name"
                type="text"
              />
            </c-col>
            <c-col md="4" class="p-2">
              <label cLabel for="lead_date">Lead Date</label>
              <input
                cFormControl
                id="lead_date"
                formControlName="lead_date"
                [readonly] = true
                class="diabled"
                type="date"
            
              />
            </c-col>
  
            <c-col md="4" class="p-2">
              <label cLabel for="validationDefault01">City</label>
              <input
                cFormControl
                class="diabled"
                [readonly] = true
                id="validationDefault01"
                formControlName="city"
                type="text"
            
              />
    
            </c-col>
            <c-col md="4" class="p-2">
              <label cLabel for="validationDefault01">Mobile Number</label>
              <input
                cFormControl
                class="diabled"
                [readonly] = true
                id="validationDefault01"
                formControlName="mobile_number"
                type="number"
            
              />
           
            </c-col>
            <c-col md="3" class="p-2">
              <label for="category" cLabel>
                Category
                <span style="color: red" *ngIf="!control['category_id'].value"
                  >*</span
                ></label
              >
              <select
                aria-label="select category"
                cSelect
                sizing="sm"
                formControlName="category_id"
                type="text"
                [ngClass]="{
                  'is-invalid':
                    control['category_id'].invalid &&
                    (control['category_id'].dirty ||
                      control['category_id'].touched)
                }"
              >
                <option hidden value="null" disabled selected>
                  Select Category
                </option>
                <option
                  [value]="item.category_id"
                  *ngFor="let item of allCategoryList"
                >
                  {{ item.category_name }}
                </option>
              </select>
              <div
                class="text-danger"
                *ngIf="
                  control['category_id'].invalid &&
                  (control['category_id'].dirty || control['category_id'].touched)
                "
              >
                <small>Please provide a valid Category Name.</small>
              </div>
            </c-col>
            <c-col md="12" class="p-2">
              <label cLabel for="validationDefault01">Note</label>
              <textarea
                cFormControl
                class="diabled"
                [readonly] = true
                id="note"
                formControlName="note"
                rows="3"
              ></textarea>
            </c-col>
           
            <c-card-header >
              <strong> Lead Info</strong>
            </c-card-header>
            <div formArrayName="leadFooterDetails" >
              <c-col
                *ngFor="
                  let item of leadstatusDetailsArray.controls;
                  let i = index
                "
                [formGroupName]="i"
                
              >
                <c-col md-12 class="d-flex">
                  <c-col md="3" class="p-2">
                    <label cLabel for="validationDefault01">Comments</label>
                    <input
                      cFormControl
                      id="validationDefault01"
                      formControlName="comments"
                      autocomplete="off"
                      type="text"
                      [ngClass]="{
                        'is-invalid':
                          leadstatusDetailsArray.at(i).get('comments')?.invalid &&
                          (leadstatusDetailsArray.at(i).get('comments')?.dirty ||
                            leadstatusDetailsArray.at(i).get('comments')?.touched)
                      }"
                      
                    />
                    <div
                      class="text-danger"
                      *ngIf="
                        leadstatusDetailsArray.at(i).get('comments')?.invalid &&
                        (leadstatusDetailsArray.at(i).get('comments')?.dirty ||
                          leadstatusDetailsArray.at(i).get('comments')?.touched)
                      "
                    >
                      <small>Please provide a valid Comments.</small>
                    </div>
                  </c-col>
                  <c-col md="2" class="p-2">
                    <label cLabel for="validationDefault01">Calling Time</label>
                    <input
                      cFormControl
                      id="validationDefault01"
                      formControlName="calling_time"
                      type="text"
                      autocomplete="off"
                      [ngClass]="{
                        'is-invalid':
                          leadstatusDetailsArray.at(i).get('calling_time')
                            ?.invalid &&
                          (leadstatusDetailsArray.at(i).get('calling_time')
                            ?.dirty ||
                            leadstatusDetailsArray.at(i).get('calling_time')
                              ?.touched)
                      }"
                    />
                    <div
                      class="text-danger"
                      *ngIf="
                        leadstatusDetailsArray.at(i).get('calling_time')
                          ?.invalid &&
                        (leadstatusDetailsArray.at(i).get('calling_time')
                          ?.dirty ||
                          leadstatusDetailsArray.at(i).get('calling_time')
                            ?.touched)
                      "
                    >
                      <small>Please provide a valid Calling Time.</small>
                    </div>
                  </c-col>
                  <c-col md="2" class="p-2">
                    <label cLabel for="validationDefault01">No Of Calls</label>
                    <select
                      aria-label="select lead status id"
                      cSelect
                      sizing="sm"
                      autocomplete="off"
                      formControlName="no_of_calls"
                      type="number"
                      [ngClass]="{
                        'is-invalid':
                          leadstatusDetailsArray.at(i).get('no_of_calls')
                            ?.invalid &&
                          (leadstatusDetailsArray.at(i).get('no_of_calls')
                            ?.dirty ||
                            leadstatusDetailsArray.at(i).get('no_of_calls')
                              ?.touched)
                      }"
                    >
                      <option hidden value="null" disabled selected>Select No Of Calls</option>
                      <option
                      >1
                      </option>
                      <option
                      >2
                      </option>
                      <option
                      >3
                      </option>
                      <option
                      >4
                      </option>
                      <option
                      >5
                      </option>
                      <option
                      >6
                      </option>
                      <option
                      >7
                      </option>
                      <option
                      >8
                      </option>
                      <option
                      >9
                      </option>
                      <option
                      >10
                      </option>
                    </select>
                    <span
                      class="text-danger"
                      *ngIf="
                        leadstatusDetailsArray.at(i).get('no_of_calls')
                          ?.invalid &&
                        (leadstatusDetailsArray.at(i).get('no_of_calls')
                          ?.dirty ||
                          leadstatusDetailsArray.at(i).get('no_of_calls')
                            ?.touched)
                      "
                      ><small> Please provide a valid No Of Calls.</small></span
                    >
                  </c-col>
                  <c-col md="2" class="p-2">
                    <label cLabel for="validationDefault01">Lead Status</label>
                    <select
                      aria-label="select lead status id"
                      cSelect
                      sizing="sm"
                      formControlName="lead_status_id"
                      autocomplete="off"
                      type="text"
                      [ngClass]="{
                        'is-invalid':
                          leadstatusDetailsArray.at(i).get('lead_status_id')
                            ?.invalid &&
                          (leadstatusDetailsArray.at(i).get('lead_status_id')
                            ?.dirty ||
                            leadstatusDetailsArray.at(i).get('lead_status_id')
                              ?.touched)
                      }"
                    >
                      <option hidden value="null" disabled selected>Select Lead Status</option>
                      <option
                        [value]="item.lead_status_id"
                        *ngFor="let item of allLeadStatusList"
                      >
                        {{ item.lead_status }}
                      </option>
                    </select>
                    <span
                      class="text-danger"
                      *ngIf="
                        leadstatusDetailsArray.at(i).get('lead_status_id')
                          ?.invalid &&
                        (leadstatusDetailsArray.at(i).get('lead_status_id')
                          ?.dirty ||
                          leadstatusDetailsArray.at(i).get('lead_status_id')
                            ?.touched)
                      "
                      ><small> Lead Status is invalid</small></span
                    >
                  </c-col>
                  <c-col md="3" class="p-2">
                    <label cLabel for="follow_up_date">Follow Up Date</label>
                    <input
                      cFormControl
                      autocomplete="off"
                      id="follow_up_date"
                      formControlName="follow_up_date"
                      type="date"
                      [ngClass]="{
                        'is-invalid':
                          leadstatusDetailsArray.at(i).get('follow_up_date')
                            ?.invalid &&
                          (leadstatusDetailsArray.at(i).get('follow_up_date')
                            ?.dirty ||
                            leadstatusDetailsArray.at(i).get('follow_up_date')
                              ?.touched)
                      }"
                      [min]="getCurrentDate()"
                    />
                    <div
                      class="text-danger"
                      *ngIf="
                        leadstatusDetailsArray.at(i).get('follow_up_date')
                          ?.invalid &&
                        (leadstatusDetailsArray.at(i).get('follow_up_date')
                          ?.dirty ||
                          leadstatusDetailsArray.at(i).get('follow_up_date')
                            ?.touched)
                      "
                    >
                      <small>Please provide a valid Lead Date.</small>
                    </div>
                  </c-col>
                </c-col>
              </c-col>
            </div>
            <hr class="p-0">
         
            <c-col xs="12">
              <button cButton class="me-1" color="primary" (click)="submit()">
                Submit
              </button>
              <button cButton color="secondary"   [routerLink]="['/receptionist', { outlets: { receptionist_Menu: 'follow-up' } }]">Cancel</button>
            </c-col>
          </form>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
  