<div class="container">
    <c-row>
        <c-col md="4">
            <c-card class="mb-4">
                <c-card-header>
                    <strong>Entity</strong>
                </c-card-header>
                <c-card-body>
                    200
                </c-card-body>
            </c-card>
        </c-col>
        <c-col md="4">
            <c-card class="mb-4">
                <c-card-header>
                    <strong>Entity2</strong>
                </c-card-header>
                <c-card-body>
                    100
                </c-card-body>
            </c-card>
        </c-col>
        <c-col md="4">
            <c-card class="mb-4">
                <c-card-header>
                    <strong>Entity3</strong>
                </c-card-header>
                <c-card-body>
                    1500
                </c-card-body>
            </c-card>
        </c-col>

    </c-row>
    <div class="row">
        <div class="col-md-12 card p-5 mt-3">
            User List
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 card p-5 mt-3">
            Doctor list
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 card p-5 mt-3">
            Receiptionist list
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 card p-5 mt-3">
            Receiptionist list
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 card p-5 mt-3">
            Receiptionist list
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 card p-5 my-3">
            Lead status list
        </div>
    </div>
</div>