:host ::ng-deep .mdc-tab-indicator--active {
    background: rgb(232, 232, 232) !important;
    color: #040404!important;
}
:host ::ng-deep .mat-mdc-select-disabled {
    color: rgb(53 64 81);
    background: #d8dbe0;
}
:host ::ng-deep .form-control[type=file]:not(:disabled):not([readonly]) {
    cursor: pointer;
    background-color: #d8dbe0;
}
.pl-4{
    padding-left: 4rem;
}
.table-bordered{
    border: 1px solid #000000!important;
}
h3{
    font-size:1.3rem;
  }