<c-row class="m-0">
    <c-col xs="12 "  class="p-0 " >
        <c-card class="">
            <c-card-header >
                <strong>{{isEdit?'Edit':'Add'}} Chief Complaint</strong>
            </c-card-header>
            <c-card-body>
                <form cForm class="row g-3"  [formGroup]="form"> 
                    <c-col md="12">
                        <label cLabel for="chief_complaint">Chief Complaint</label>
                        <input cFormControl id="chief_complaint" formControlName="chief_complaint" type="text"[ngClass]="{ 'is-invalid': control['chief_complaint'].invalid &&(control['chief_complaint'].dirty ||control['chief_complaint'].touched)}"/>
                        <div class="text-danger" *ngIf="control['chief_complaint'].invalid &&(control['chief_complaint'].dirty ||control['chief_complaint'].touched)">
                            <small >Please provide a valid chief complaint.</small>
                        </div>
                    </c-col>
                    <c-col xs="12">
                        <button cButton class="me-1" color="primary"  (click)="submit()">
                            Submit
                        </button>
                        <button cButton color="secondary" (click)="closeDialog()">
                            Cancel
                        </button>
                    </c-col>
                </form>
            </c-card-body>
        </c-card>
    </c-col>

</c-row>

