<c-container breakpoint="lg">
  <c-card class="mb-4">
    <c-card-header class="d-flex justify-content-between">
      <strong>Today Bills</strong>
      <button
        cButton
        color="primary"
        class="fw-bold"
        [routerLink]="[
          '/doctor',
          { outlets: { doc_Menu: 'doctor-add-bill' } }
        ]"
      >
        Add
      </button>
    </c-card-header>
    <c-card-body>
      <div class="col-md-12 table-container">
        <table class="table table-striped" >
          <thead cTableColor="light">
            <tr>
              <th>Sr. No</th>
              <th>Bill Date</th>
              <th>Name</th>
              <th>Mobile Number</th>
              <th>Entity</th>
              <th>Payment Type</th>
              <th>Bill Amount</th>
              <th>Discount Amount</th>
              <th>Total Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of allBillList; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ item.cts | date : "dd-MM-yyyy" }}</td>
              <td>{{ item.patient_name |titlecase}}</td>
              <td>{{ item.mobile_no }}</td>
              <td>{{item.abbrivation| uppercase}}</td>
              <td>{{ item.payment_type |titlecase}}</td>
              <td>{{ item.bill_amount }}</td>
              <td>{{ item.discount_amount }}</td>
              <td>{{ item.total_amount }}</td>
            </tr>
            <tr
              class="fw-bold text-center"
              *ngIf="allBillList.length === 0"
            >
              <td colspan="10" class="text-danger">No Data Available</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-12">
        <mat-paginator
          [length]="total"
          [pageSize]="perPage"
          [pageSizeOptions]="[5, 10, 25, 100]"
          aria-label="Select page"
          [showFirstLastButtons]="true"
          (page)="onPageChange($event)"
        >
        </mat-paginator>
      </div>
    </c-card-body>
  </c-card>
</c-container>
