.chief_complaints{
    display: flex;
    justify-content: space-between;
    align-items: center;
  margin-bottom: 25px;
  }
  :host ::ng-deep mat-select{
    height: 31px;
    font-size: 0.9rem!important;
    padding: 4px 8px !important;
  }