<c-container breakpoint="lg">
    <c-card class="mb-4">
        <c-card-header class="d-flex justify-content-between">
            <strong>Customers</strong> <button cButton color="primary" class="fw-bold" [routerLink]="['/super-admin', { outlets: { super_Menu: 'add-customer' } }]">Add</button>
        </c-card-header>
        <c-card-body>
            <div class="col-md-12">
                <table class="table table-striped" cTable>
                    <thead cTableColor="light">
                        <tr>
                            <th>Sr. No</th>
                            <th>Created at</th>
                            <th>Organization Name</th>
                            <th>Customer Name</th>
                            <th>Status</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of allCustomerslist; let i = index">
                            <td>{{ i + 1 }}</td>
                            <td>{{ item.cts|date:'dd' }}/{{ item.cts|date:'MM' }}/{{ item.cts|date:'YYYY' }}</td>
                            <td>{{ item.organization_name }}</td>
                            <td>{{ item.customer_name }}</td>
                            <td>{{ item.status == 1 ? "Activated" : "Activated" }}</td>
                            <td> <a [routerLink]="['/super-admin', { outlets: { super_Menu: ['edit-customers',item.customer_id]}}]" class="pointer"><svg [cIcon]="icons.cilPencil" size="xl"
                                        title="List Icon" ></svg></a></td>
                        </tr>
                        <tr class=" fw-bold text-center" *ngIf="allCustomerslist.length===0">
                            <td colspan="10" class="text-danger">No Data Available</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-12">
                <mat-paginator [length]="total" [pageSize]="perPage" [pageSizeOptions]="[5, 10, 25, 100]"
                    aria-label="Select page" [showFirstLastButtons]="true" (page)="onPageChange($event)">
                </mat-paginator>
            </div>
        </c-card-body>
    </c-card>
</c-container>