.material-icons {
    font-size: 35px; /* Adjust the font-size to increase the height */
  }
  .disabled {
    color: gray; /* Change color to gray or any other color to indicate it's disabled */
    pointer-events: none;
    cursor: not-allowed; /* Change cursor to indicate it's not clickable */
  }
  .chief_complaints{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
:host ::ng-deep .mdc-tab-indicator--active {
  background: rgb(232, 232, 232) !important;
  color: #040404!important;
}