.refered-by{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.checkbox-container {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
  }
  
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #ccc;
    border-radius: 50%;
  }
  
  .checkbox-container:hover input ~ .checkmark {
    background-color: #aaa;
  }
  
  .checkbox-container input:checked ~ .checkmark {
    background-color: #321fdb;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .checkbox-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .checkbox-container .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
  .card-header {
    padding: var(--cui-card-cap-padding-y) var(--cui-card-cap-padding-x);
    margin-bottom: 0;
    color: var(--cui-card-cap-color);
    background-color: var(--cui-card-cap-bg);
    border-bottom: var(--cui-card-border-width) solid var(--cui-card-border-color);
    height: 60px;
}
