/* You can add global styles to this file, and also import other style files */
// If you want to override variables do it here
@import "variables";

$enable-ltr: true;
$enable-rtl: true;

// Import styles with default layout.
@import "@coreui/coreui/scss/coreui";

// Import Chart.js custom tooltips styles
@import "@coreui/chartjs/scss/coreui-chartjs";
@import "layout";

// Some temp fixes
@import "fixes";

// Prism.js
@import "examples";

// If you want to add something do it here
@import "custom";
// regular style toast
@import 'ngx-toastr/toastr';



.btn{
    font-size: 0.89rem!important;
}
html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body { margin: 0; font-family: Quicksand, sans-serif!important; }

.cdk-overlay-container {
    position: fixed;
    z-index: 9999;
}
.pointer{
    cursor: pointer;
}
td a{
    text-decoration: none;
    color: unset;
    padding-top: 10px;
}
// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.diabled{
    background: #ebedef;
  }
  
  .diabled.form-control:focus{
    box-shadow: unset!important;
  }
  .table-container {

    width: 100% !important;
    display: block;
    overflow: auto;
}
//spinner start

.lds-ring,
.lds-ring div {
  box-sizing: border-box;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid currentColor;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
//   border-color: currentColor transparent transparent transparent;
 border-color: #ffffff00 #e462a800 #ff0d9252 #f32797; ;
  
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

//spinner end