<c-container breakpoint="lg">
    <c-card class="mb-4">
        <c-card-header class="d-flex justify-content-between">
            <div class=""><strong class="d-flex align-items-center "> ReVisit <input cFormControl class="ms-2" type="text" name="" id=""> <button cButton color="primary" class="fw-bold btn-sm ms-2 "> Submit</button ></strong></div> <button cButton color="primary" class="fw-bold" [routerLink]="['/receptionist', { outlets: { receptionist_Menu: 'add-patient' } }]" >Add</button>
        </c-card-header>
        <c-card-body class="pt-0">
            <mat-tab-group>
                <mat-tab label="Patient List">
                    <div class="col-md-12">
                        <table class="table table-striped" cTable>
                            <thead cTableColor="light">
                                <tr>
                                    <th>Sr. No</th>
                                    <th>Visit Date</th>
                                    <th>Patient Name</th>
                                    <th>Gender</th>
                                    <th>Age</th>
                                    <th>Address</th>
                                    <th>Mobile Number</th>
                                    <th>Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of allPatientVisitList; let i = index">
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ item.visit_date| date:'dd-MM-yyyy'}}</td>
                                    <td>{{ item.patient_name  }}</td>
                                    <td>{{ item.gender }}</td>
                                    <td>{{ item.age }}</td>
                                    <td>{{ item.address }}</td>
                                    <td>{{ item.mobile_no }}</td>
                                    <td> <a [routerLink]="['/receptionist', { outlets: { receptionist_Menu: ['edit-patient',item.mrno]}}]" class="pointer"><svg [cIcon]="icons.cilPencil"  size="xl"
                                        title="List Icon" ></svg></a></td>
                                </tr>
                                <tr class=" fw-bold text-center" *ngIf="allPatientVisitList.length===0">
                                    <td colspan="10" class="text-danger">No Data Available</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-tab>
                <mat-tab label="Checked Patients">
                        <div class="col-md-12 " >
                            <table class="table table-striped" cTable >
                                <thead cTableColor="light">
                                    <tr>
                                        <th>Sr. No</th>
                                        <th>Patient Name</th>
                                        <th>Visit Date</th>
                                        <th>Visit Type</th>
                                        <th>Mobile Number</th>
                                        <th>Gender</th>
                                        <th>Age</th>
                                        <th>City</th>
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of allPatientVisitList; let i = index">
                                        <td>{{ i + 1 }}</td>
                                        <td>{{ item.patient_name  }}</td>
                                        <td>{{ item.visit_date| date:'dd-MM-yyyy'}}</td>
                                        <td>{{ item.visit_type}}</td>
                                        <td>{{ item.mobile_no }}</td>
                                        <td>{{ item.gender }}</td>
                                        <td>{{ item.age }}</td>
                                        <td>{{ item.city }}</td>
                                        
                                    <tr class=" fw-bold text-center" *ngIf="allPatientVisitList.length===0">
                                        <td colspan="10" class="text-danger">No Data Available</td>
                                    </tr>
                                </tbody>
                            </table>
                            
                        </div>
                </mat-tab>
            </mat-tab-group>
            
            <div class="col-md-12">
                <mat-paginator [length]="total" [pageSize]="perPage" [pageSizeOptions]="[5, 10, 25, 100]"
                aria-label="Select page" [showFirstLastButtons]="true" (page)="onPageChange($event)">
            </mat-paginator>
            </div>
        </c-card-body>
    </c-card>
</c-container>
